@import '../../assets/styles/vars.scss';

.input__content{
  margin-bottom: 1em;
  label{
    font-size: 13px;
  }
  input, textarea{
    width: calc(100% - 1em);
    background-color: $white-blur;
    border: none;
    border-bottom: solid 1px $dark;
    padding: 0.5em;
    margin-top: 0.5em;
    border-radius: 0;
    transition: 0.3s;
    &:hover{
      border-bottom: solid 1px  $primary2;
      transition: 0.3s;
    }
    &:focus{
      outline: none;
    }
  }
}