
$primary: #B7FFFA;
$primary2: #DAFEFB;
$primary3: #FBDAFE;
$yellow: #E8F394;
$yellow2: #EEF3C9;
$yellow3: #E9EAE2;
$dark: #3B4018;
$dark2: #484E20;
$dark3: #515728;
$white: #ffffff;

$alert: #af142e;

$white-blur: rgba( 255, 255, 255, 0.3 );