@import '../../assets/styles/vars.scss';

.user{
    display: flex;
    padding: 0.5em;
    margin-bottom: 2em;
    border-bottom: 1px solid $dark3;
    .user__img{
        display: flex;
        justify-content: center;
        align-content: center;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        overflow: hidden;
        img{
            width: 120%;
        }
    }
    .user__info{
        display: flex;
        flex-direction: column;
        padding: 0.5em;
        span{
            font-size: 16px;
            font-weight: bold;
        }
        .user__options{
            color: $primary;
            font-size: 13px;
            padding: 0.2em;
            background-color: transparent;
            &:hover{
                color: $primary2;
                box-shadow: none;
            }
        }
        .user__close-sesion{
            display: none;
            position: absolute;
            margin-top: 50px;
        }
        .user__close-sesion.hidden{
            display: flex;
        }
    }
}