@import '../../assets/styles/vars.scss';

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: $yellow2;
    background-image: url('../../assets/img/login_back.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login__content{
    background-color: $white-blur;
    padding: 1.5em;
    width: 450px;
    height: auto;
    border-radius: 1em;
    border: solid 1px $white-blur;
    transition: 1s;
    backdrop-filter: blur(10px);
    &:hover{
        border: solid 1px $primary;
        box-shadow: 0 0 20px rgba(0,0,0, 0.10);
        transition: 1s;
    }
}

.login__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    form{
        width: 100%;
    }
    button{
        color: $dark;
    }
}

