@import '../../assets/styles/vars.scss';

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    i{
        display: flex;
        font-size: 40px;
        justify-content: center;
        align-items: center;
        background-color: $primary;
        padding: 0.2em;
        margin-right: 0.3em;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        color: $dark;
        transition: 0.3s;
        cursor: pointer;
        &:hover{
            box-shadow: 0 3px 3px rgba(0,0,0, 0.10);  
            transition: 0.3s;
        }
    }
}

.logo.left{
    justify-content: left;
}