@import '../../assets/styles/vars.scss';



button{
    display: flex;
    align-items: center;
    color: $white;
    background-color: $white-blur;
    padding: 0.5em 1.5em;
    border: none;
    border-radius: 0.5em;
    backdrop-filter: blur(4px);
    transition: 0.3s;
    cursor: pointer;
    &:hover{
        background-color: $dark;
        color: $primary;
        transition: 0.3s;
        box-shadow: 0 0 3px 3px rgba(0,0,0, 0.16);
    }
    &:focus{
        outline: none;
    }
    .icon-l{
        margin-right: 0.5em;
    }
}

button.center{
    margin-left: auto;
    margin-right: auto;
}