@import '../../assets/styles/vars.scss';


.video{
    display: grid;
    grid-template-columns: 1fr 400px;
    height: 100vh;
}

.video__cont{
    position: relative;
    width: 100%;
    // max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    .back__video{
        filter:  brightness(1);
        transition: 1s;
        box-shadow: 0 0 20px rgba(0,0,0, 0.10);
    }
    &:hover .back__video{
        filter:  brightness(0.5);
        transition: 1s;
    }
    .video_element{
        width: 100%;
    }
}

.video__video{
    background-color: $dark;
    color: $primary2;
    overflow-y: auto;
    img{
        width: 100%;
    }
    .video__description{
        padding: 1.5em;
    }
    p{
        color: $primary2;
    }
}

.video__chat{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: $dark2;
    color: $yellow3;
    .comments{
        background-color: $white-blur;
        height: 100%;
        padding: 0.5em;
        border-radius: 0.5em;
        margin-bottom: 2em;
        margin-left: 1em;
        margin-right: 1em;
        overflow-y: auto;
    }
    .comment__cont{
        display: flex;
        flex-direction: row;
        padding: 0.5em;
        border-radius: 0.3em;
        margin-bottom: 0.5em;
        border: solid 1px transparent;
        transition: 0.3s;
        &:hover{
            border: solid 1px $white-blur;
            transition: 0.3s;
        }
        .comment__cont--avatar{
            margin-right: 1em;
        }
        .comments__cont--user{
            font-weight: bold;
            font-size: 16px;
        }
        .comments__cont--text{
            font-size: 14px;
        }
        .comment__cont__block{
            display: flex;
            flex-direction: column;
        }
    }
}

.btn__play{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: calc( 50% - 20px );
    top: calc( 50% - 10px);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0 0 3px 3px rgba(0,0,0, 0.16);
    i{
        font-size: 44px;
    }
}