@import './assets/styles/normalize.css';
@import './assets/styles/vars.scss';
// fuentes
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


h1{
  font-family: 'Fira Sans', sans-serif;
}


body, p {
  font-family: 'Roboto', serif;
  color: $dark;
}

.alert{
  font-size: 12px;
  margin-bottom: 1em;
  color: $alert;
}

.text-center{
  text-align: center;
  display: flex;
  justify-content: center;
}

hr{
  border: solid 1px $dark3;
  margin-bottom: 1em;
}

form{
  padding: 1em;
}

// scroll personalizado

.scroll::-webkit-scrollbar {
  width: 8px;     
  height: 8px;   
  // display: none; 
}
.scroll::-webkit-scrollbar-thumb {
  background: $dark2;
  border-radius: 4px;
}
.scroll::-webkit-scrollbar-thumb:hover {
  background: $dark3;
}
.scroll::-webkit-scrollbar-thumb:active {
  background-color: $dark3;
}